# Datadog API credentials
# Get your keys from: https://app.datadoghq.com/organization-settings/api-keys
DD_API_KEY=your_api_key_here
DD_APP_KEY=your_app_key_here

# Datadog site (default: datadoghq.com)
# For EU: datadoghq.eu | For US3: us3.datadoghq.com | For US5: us5.datadoghq.com
DD_SITE=datadoghq.com
